<h1 class="mt-5">Restaurantes de Campeche</h1>
<hr>
<input
type="text"
class="form-control"
placeholder="Buscar..."
[(ngModel)] = "filter"
name="filter"/>



<div class="container">
  <div class="row">
    <div class="col-sm-3" *ngFor="let datos of local | filtro:filter">
      <div class="card" style="width: 18rem;">
        <img src="{{datos.Img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{datos.Nombre}}</h5>
          <h6 class="card-title">Ubicación:</h6>
          <p class="card-text">{{datos.Ubicacion}}</p>
          <h6 class="card-title">Colonia:</h6>
          <p class="card-text">{{datos.Colonia}}</p>
          <h6 class="card-title">Calle:</h6>
          <p class="card-text">{{datos.Calle}}</p>
          <h6 class="card-title">Telefono:</h6>
          <p class="card-text">{{datos.Telefono}}</p>
        </div>
      </div>
    </div>
